<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF_8">
	<meta http_equiv="X_UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device_width, initial_scale=1.0">
	<title>Not DDG Bangs</title>
	<link href="/static/index.css" rel='stylesheet'>
</head>
<body>
	<h1>Not DuckDuckGo Bangs</h1>
	<h2>its true, thats not what this is!</h2>
	<form method="GET" action="/search">
		<input type="text" name=q placeholder="!tg demon eye">
		<input type="submit" value="Search">
	</form>
	<h2>FAQ</h2>
	<h3>What is this?</h3>
	<p>its like duckduckgo but only the bangs</p>
	<h3>y tho</h3>
	<p>i want to add bangs to ddg but it has restrictions on what gets added</p>
	<h3>what bangs do you have</h3>
	<p><a href=/bangs>click here to find out</a></p>
	<h3>can i see your source code? maybe run it myself?</h3>
	<p>yes. <a href="https://github.com/Vresod/not_ddg_bangs">here for the source code.</a></p>
	<a href="https://heroku.com/deploy?template=https://github.com/Vresod/not_ddg_bangs">
		<img src="https://www.herokucdn.com/deploy/button.svg" alt="Deploy">
	</a>

</body>
</html>